/* style.css */

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

header {
  position: relative;
  background-image: url("Assets/bg-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 1440px;
  height: 960px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.logo-container {
  margin-bottom: 57px;
  margin-top: 283px;
}

.logo {
  display: flex;
  width: 686px;
  height: 276px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-left: 123px;
}

.tentang {
  display: inline-flex;
  padding: 15px 25px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background: #ffc73c;
  box-shadow: 0px 18px 40px 12px rgba(255, 211, 103, 0.35);
  border: #ffc73c;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 123px;
  width: 195px;
}

.tentang:hover {
  border-radius: 100px;
  background: #ff9a3c;
  box-shadow: 0px 18px 40px 12px rgba(255, 154, 60, 0.25);
}

nav .image img {
  width: 200px;
  height: 40px;
  margin-left: 35px;
}

nav {
  position: fixed;
  top: 46px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 1194px;
  padding: 15px 20px;
  box-shadow: 0px 1px 8px 0px rgba(29, 28, 28, 0.2);
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(25px);
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  z-index: 1000;
}

.content ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 51px;
  flex: 1 0 0;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 51px;
}

.content ul li {
  cursor: pointer;
  color: #212427;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 120px;
}

.registrasi .registration {
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background: var(
    --primary-gradient,
    linear-gradient(258deg, #59ffb9 0%, #326cff 100%)
  );
  border: none;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.registrasi .registration:hover {
  background: var(
    --primary-gradient,
    linear-gradient(258deg, #326cff 0%, #59ffb9 100%)
  );
}

.daftar {
  display: flex;
  width: 1200px;
  height: 712px;
  margin: 137px 123px;
}

.daftar .card-kanan .card {
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  border-radius: 32px;
  background: linear-gradient(237deg, #59ffb9 -30.09%, #326cff 71.21%);
  width: 550px;
  height: 611px;
}

.daftar .card-kanan h3 {
  color: #fff;
  text-align: left;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 48px;
  font-style: italic;
  font-weight: 900;
  line-height: normal;
}

.daftar .card-kanan .fun-text {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.daftar .card-kiri .card-gratis {
  display: flex;
  flex-direction: column;
  width: 582px;
  padding: 32px;
  align-items: flex-start;
  border-radius: 32px;
  background: linear-gradient(237deg, #59ffb9 -30.09%, #326cff 71.21%);
  margin-bottom: 27px;
}

.daftar .card-kiri h3 {
  color: #fff;
  text-align: left;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 36px;
  font-style: italic;
  font-weight: 900;
  line-height: normal;
}

.daftar .card-kiri .gratis-text {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.daftar .card-kiri .card-special {
  border-radius: 32px;
  background: linear-gradient(237deg, #59ffb9 -30.09%, #326cff 71.21%);
  width: 582px;
}

.daftar .card-kiri .card-special .special-title {
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 36px;
  font-style: italic;
  font-weight: 900;
  line-height: normal;
}

.daftar .card-kiri .card-special .special-text {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.buttondaftar {
  display: flex;
  padding: 15px 25px;
  border-radius: 100px;
  background: #ffc73c;
  box-shadow: 0px 18px 40px 12px rgba(255, 211, 103, 0.35);
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}

.buttondaftar:hover {
  border-radius: 100px;
  background: #ff9a3c;
  box-shadow: 0px 18px 40px 12px rgba(255, 154, 60, 0.25);
}

.didukung {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 60px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background: linear-gradient(249deg, #59ffb9 -31.85%, #326cff 101.31%);
  margin-top: 137px;
}

.didukung h3 {
  color: #fff;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.marqueee {
  padding: 15px 25px;
  border-radius: 10px;
  white-space: nowrap;
  overflow: hidden;
}

.marquee-1 img {
  width: 216px;
  height: 94px;
  display: inline-block;
  white-space: nowrap;
  background-color: white;
  margin-right: 10px;
  border-radius: 10px;
  padding: 15px 25px;
}

.carousel-section {
  width: 100%;
}

.carousel {
  width: 1060px;
  height: 850px;
  display: inline-flex;
  margin: 193px 191px;
  justify-content: center;
  align-items: center;
}

.carousel h3 {
  color: #212427;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-bottom: 30px;
}

.carousel img {
  width: 100%;
  display: block;
}

.carousel .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  color: white;
}

.carousel .left-arrow {
  left: 20px;
}

.carousel .right-arrow {
  right: 20px;
}
.carousel .img-display {
  overflow: hidden;
}
.carousel .img-showcase {
  display: flex;
  flex-shrink: 0;
  border-radius: 32px;
  transition: all 0.5s ease;
}

.carousel .img-showcase img {
  min-width: 100%;
}
.carousel .img-select {
  display: flex;
}

.carousel .img-item img {
  width: 100%;
  display: block;
  filter: grayscale(100%);
  transition: filter 0.5s ease;
}

.carousel .img-item.active img {
  filter: grayscale(0%);
}

.carousel .img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3) {
  margin-right: 0;
}
.carousel .img-item:hover {
  opacity: 0.8;
}

.article-wrapper {
  background-image: url("Assets/bg-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 1440px;
  height: 1620px;
}

.article {
  margin-top: 163px;
  width: 1200px;
  height: 1060px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 121px;
  margin-right: 121px;
  margin-bottom: 400px;
}

.article h3 {
  color: #212427;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.article .article-button-top {
  margin-top: 54px;
  display: flex;
  width: 350px;
  align-items: center;
  border-radius: 100px;
  background: linear-gradient(239deg, #59ffb9 -37.86%, #326cff 92.79%);
  backdrop-filter: blur(25px);
}

.article .content-article-top {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
}

.article-isi {
  width: 1200px;
  height: 770px;
  margin-top: 50px;
}

.article-isi .card-article {
  width: 380px;
  height: 360px;
  margin-bottom: 35px;
}

.article-isi .card-article img {
  width: 380px;
  height: 282px;
  flex-shrink: 0;
  border-radius: 32px;
}

.article-isi .card-article .card-article-body h5 {
  color: #212427;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: left;
  width: 380px;
  margin-top: 20px;
}

.article-isi .card-article .card-article-body p {
  color: #6c6c6c;
  font-size: 12px;
  font-style: normal;
  text-align: left;
  font-weight: 500;
  line-height: normal;
  margin-top: 10px;
}

.buttonlihat {
  display: flex;
  padding: 15px 25px;
  border-radius: 100px;
  background: #ffc73c;
  box-shadow: 0px 18px 40px 12px rgba(255, 211, 103, 0.35);
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}

.buttonlihat:hover {
  border-radius: 100px;
  background: #ff9a3c;
  box-shadow: 0px 18px 40px 12px rgba(255, 154, 60, 0.25);
}

footer {
  display: flex;
  width: 1440px;
  height: 382px;
  padding: 50px 70px;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  background-color: #28a997;
}

.footer .footer-isi {
  width: 1300px;
  height: 282px;
  margin: 50px 70px;
}

footer .footer-isi .logo-footer {
  height: 154px;
  width: 353px;
}

footer .footer-isi h1 {
  width: 353px;
  text-align: left;
  font-style: italic;
  font-weight: 900;
  font-size: 55px;
  color: white;
}

footer .footer-isi span .present {
  text-align: left;
  font-style: italic;
  font-weight: lighter;
  font-size: 10px;
  color: white;
  margin-top: 10px;
  margin-right: 5px;
}

footer .footer-isi span .detik {
  text-align: left;
  font-weight: 600;
  font-size: 20px;
  color: white;
}

footer .footer-isi span .health {
  text-align: left;
  font-weight: 400;
  font-size: 20px;
  color: white;
}

footer .footer-about .about-kanan {
  color: #fff;
  width: 890px;
  height: 60px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 30px;
}

footer .footer-about .about-kiri {
  height: 60px;
  margin-left: 150px;
  margin-top: 30px;
}

footer .footer-about .about-kiri p {
  color: #fff;
  width: 190.08px;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.06px;
}

footer .footer-about .about-kiri img {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

footer .footer-isi hr {
  width: 1250px;
  height: 1px;
  background: #fff;
  border: #fff;
  margin-top: 15px;
}

footer .footer-isi .footer-bottom {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  align-self: stretch;
  letter-spacing: 0.08px;
  margin-top: 5px;
}
