/* style.css */

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

header {
  position: relative;
  background-image: url("Assets/bg-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 1440px;
  height: 960px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.logo-container {
  margin-bottom: 57px;
  margin-top: 283px;
}

.logo {
  display: flex;
  width: 686px;
  height: 276px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-left: 123px;
}

.tentang {
  display: inline-flex;
  padding: 15px 25px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background: #ffc73c;
  box-shadow: 0px 18px 40px 12px rgba(255, 211, 103, 0.35);
  border: #ffc73c;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 123px;
  width: 195px;
  margin-top: 57px;
}

.tentang:hover {
  border-radius: 100px;
  background: #ff9a3c;
  box-shadow: 0px 18px 40px 12px rgba(255, 154, 60, 0.25);
}

nav .image img {
  width: 200px;
  height: 40px;
  margin-left: 35px;
}

nav {
  position: fixed;
  top: 46px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 1194px;
  padding: 15px 20px;
  box-shadow: 0px 1px 8px 0px rgba(29, 28, 28, 0.2);
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(25px);
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  z-index: 1000;
}

.burger-icon {
  display: none;
}

.content ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 51px;
  flex: 1 0 0;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 51px;
}

.content ul li {
  cursor: pointer;
  color: #212427;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 120px;
}
.content ul li a {
  text-decoration: none;
  color: #212427;
}

.content ul li .registration {
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background: var(
    --primary-gradient,
    linear-gradient(258deg, #59ffb9 0%, #326cff 100%)
  );
  border: none;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.content ul li .registration:hover {
  background: var(
    --primary-gradient,
    linear-gradient(258deg, #326cff 0%, #59ffb9 100%)
  );
}

.daftar {
  display: flex;
  width: 1200px;
  height: 712px;
  margin: 137px 123px;
}

.daftar .card-kanan .card {
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  border-radius: 32px;
  background: linear-gradient(237deg, #59ffb9 -30.09%, #326cff 71.21%);
  width: 550px;
  height: 611px;
}

.daftar .card-kanan .card:hover {
  background: var(
    --primary-gradient,
    linear-gradient(258deg, #326cff 0%, #59ffb9 100%)
  );
}

.daftar .card-kanan .card img {
  transition: transform 0.3s ease;
  width: 420px;
  height: 315px;
}

.daftar .card-kanan .card:hover img {
  transform: scale(1.1);
}

.daftar .card-kanan h3 {
  color: #fff;
  text-align: left;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 48px;
  font-style: italic;
  font-weight: 900;
  line-height: normal;
}

.daftar .card-kanan .fun-text {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.daftar .card-kiri .card-gratis {
  display: flex;
  flex-direction: column;
  width: 582px;
  padding: 32px;
  align-items: flex-start;
  border-radius: 32px;
  background: linear-gradient(237deg, #59ffb9 -30.09%, #326cff 71.21%);
  margin-bottom: 27px;
}

.daftar .card-kiri .card-gratis:hover {
  background: var(
    --primary-gradient,
    linear-gradient(258deg, #326cff 0%, #59ffb9 100%)
  );
}

.daftar .card-kiri h3 {
  color: #fff;
  text-align: left;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 36px;
  font-style: italic;
  font-weight: 900;
  line-height: normal;
}

.daftar .card-kiri .gratis-text {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.daftar .card-kiri .card-special {
  border-radius: 32px;
  background: linear-gradient(237deg, #59ffb9 -30.09%, #326cff 71.21%);
  width: 582px;
}

.daftar .card-kiri .card-special:hover {
  background: var(
    --primary-gradient,
    linear-gradient(258deg, #326cff 0%, #59ffb9 100%)
  );
}

.daftar .card-kiri .card-special:hover {
  background: var(
    --primary-gradient,
    linear-gradient(258deg, #326cff 0%, #59ffb9 100%)
  );
}

.daftar .card-kiri .card-special .rounded-start {
  transition: transform 0.3s ease;
}

.daftar .card-kiri .card-special:hover .rounded-start {
  transform: scale(1.1);
}

.daftar .card-kiri .card-special .special-title {
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 36px;
  font-style: italic;
  font-weight: 900;
  line-height: normal;
}

.daftar .card-kiri .card-special .special-text {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.buttondaftar {
  display: flex;
  padding: 15px 25px;
  border-radius: 100px;
  background: #ffc73c;
  box-shadow: 0px 18px 40px 12px rgba(255, 211, 103, 0.35);
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}

.buttondaftar:hover {
  border-radius: 100px;
  background: #ff9a3c;
  box-shadow: 0px 18px 40px 12px rgba(255, 154, 60, 0.25);
}

.didukung {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 60px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background: linear-gradient(249deg, #59ffb9 -31.85%, #326cff 101.31%);
  margin-top: 137px;
}

.didukung h3 {
  color: #fff;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.marqueee {
  padding: 15px 25px;
  border-radius: 10px;
  white-space: nowrap;
  overflow: hidden;
}

.marquee-1 img {
  width: 216px;
  height: 94px;
  display: inline-block;
  white-space: nowrap;
  background-color: white;
  margin-right: 10px;
  border-radius: 10px;
  padding: 15px 25px;
}

.carousel-section {
  width: 100%;
}

.carousel {
  width: 1060px;
  height: 850px;
  display: inline-flex;
  margin: 193px 191px;
  justify-content: center;
  align-items: center;
}

.carousel h3 {
  color: #212427;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-bottom: 30px;
}

.carousel img {
  width: 100%;
  display: block;
}

.carousel .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  color: white;
}

.carousel .left-arrow {
  left: 20px;
}

.carousel .right-arrow {
  right: 20px;
}
.carousel .img-display {
  overflow: hidden;
}
.carousel .img-showcase {
  display: flex;
  flex-shrink: 0;
  border-radius: 32px;
  transition: all 0.5s ease;
}

.carousel .img-showcase img {
  min-width: 100%;
}
.carousel .img-select {
  display: flex;
}

.carousel .img-item img {
  width: 100%;
  display: block;
  filter: grayscale(100%);
  transition: filter 0.5s ease;
}

.carousel .img-item.active img {
  filter: grayscale(0%);
}

.carousel .img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3) {
  margin-right: 0;
}
.carousel .img-item:hover {
  opacity: 0.8;
}

.article-wrapper {
  background-image: url("Assets/bg-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 1440px;
  height: 1620px;
}

.article {
  margin-top: 163px;
  width: 1200px;
  height: 1060px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 121px;
  margin-right: 121px;
  margin-bottom: 400px;
}

.article h3 {
  color: #212427;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.article .article-button-top {
  margin-top: 54px;
  display: flex;
  width: 350px;
  align-items: center;
  border-radius: 100px;
  background: linear-gradient(239deg, #59ffb9 -37.86%, #326cff 92.79%);
  backdrop-filter: blur(25px);
}

.article .content-article-top {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
}

.article-isi {
  width: 1200px;
  height: 770px;
  margin-top: 50px;
}

.article-isi .card-article {
  width: 380px;
  height: 360px;
  margin-bottom: 35px;
}

.article-isi .card-article img {
  width: 380px;
  height: 282px;
  flex-shrink: 0;
  border-radius: 32px;
}

.article-isi .card-article .card-article-body h5 {
  color: #212427;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: left;
  width: 380px;
  margin-top: 20px;
}

.article-isi .card-article .card-article-body p {
  color: #6c6c6c;
  font-size: 12px;
  font-style: normal;
  text-align: left;
  font-weight: 500;
  line-height: normal;
  margin-top: 10px;
}

.article-isi .card-article img {
  transition: transform 0.3s ease;
}

.article-isi .card-article:hover img {
  transform: scale(1.1);
}

.buttonlihat {
  display: flex;
  padding: 15px 25px;
  border-radius: 100px;
  background: #ffc73c;
  box-shadow: 0px 18px 40px 12px rgba(255, 211, 103, 0.35);
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}

.buttonlihat:hover {
  border-radius: 100px;
  background: #ff9a3c;
  box-shadow: 0px 18px 40px 12px rgba(255, 154, 60, 0.25);
}

footer {
  display: flex;
  width: 1440px;
  height: 382px;
  padding: 50px 70px;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  background-color: #28a997;
}

.footer .footer-isi {
  width: 1300px;
  height: 282px;
  margin: 50px 70px;
}

footer .footer-isi .logo-footer {
  height: 154px;
  width: 353px;
}

footer .footer-isi h1 {
  width: 353px;
  text-align: left;
  font-style: italic;
  font-weight: 900;
  font-size: 55px;
  color: white;
}

footer .footer-isi span .present {
  text-align: left;
  font-style: italic;
  font-weight: lighter;
  font-size: 10px;
  color: white;
  margin-top: 10px;
  margin-right: 5px;
}

footer .footer-isi span .detik {
  text-align: left;
  font-weight: 600;
  font-size: 20px;
  color: white;
}

footer .footer-isi span .health {
  text-align: left;
  font-weight: 400;
  font-size: 20px;
  color: white;
}

footer .footer-about .about-kanan {
  color: #fff;
  width: 890px;
  height: 60px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 30px;
}

footer .footer-about {
  display: flex;
}

footer .footer-about .about-kiri {
  height: 60px;
  margin-left: 150px;
  margin-top: 30px;
}

footer .footer-about .about-kiri p {
  color: #fff;
  width: 190.08px;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.06px;
}

footer .footer-about .about-kiri img {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

footer .footer-isi hr {
  width: 1250px;
  height: 1px;
  background: #fff;
  border: #fff;
  margin-top: 15px;
}

footer .footer-isi .footer-bottom {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  align-self: stretch;
  letter-spacing: 0.08px;
  margin-top: 5px;
}

@media only screen and (max-width: 430px) {
  body {
    overflow-x: hidden;
  }

  header {
    background-image: url("Assets/bg-mobile 1.png");
    width: 436px;
    height: 943px;
  }

  nav {
    width: 356px;
    height: 74px;
  }

  nav .content ul {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
  }

  nav .content ul.show {
    display: flex;
  }

  nav .content ul li {
    width: 100%;
    margin: 5px 0;
    text-align: center;
  }

  .content ul li .registration {
    margin-left: auto;
    margin-right: auto;
  }

  .burger-icon {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #212427;
    margin-right: 10px;
  }

  .logo-container {
    display: flex;
    flex-direction: column;
    width: 367px;
    height: 235px;
  }

  .logo {
    width: 367px;
    height: 147px;
    margin-left: 35px;
    margin-right: 34px;
  }

  .tentang {
    margin-right: 225px;
    margin-left: 34px;
  }

  .daftar {
    display: flex;
    flex-direction: column;
    width: 394px;
    height: 1311px;
    margin-right: auto;
    margin-left: auto;
    gap: 30px;
  }

  .daftar .card-kanan .card {
    width: 394px;
    height: 455px;
    margin-bottom: 27px;
  }

  .daftar .card-kanan .card img {
    width: 320px;
    height: 240px;
    border-radius: 20px;
  }

  .daftar .card-kanan .card h3 {
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 234px;
    font-size: 24px;
    font-style: italic;
    font-weight: 900;
    line-height: normal;
  }
  .daftar .card-kanan .card p {
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .daftar .card-kiri .card-gratis {
    width: 394px;
    height: 163px;
    margin-bottom: 27px;
  }

  .daftar .card-kiri .card-gratis h3 {
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    font-size: 24px;
    font-style: italic;
    font-weight: 900;
    line-height: normal;
  }
  .daftar .card-kiri .card-gratis .gratis-text {
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .daftar .card-kiri .card-special {
    width: 394px;
    height: 450px;
  }

  .daftar .card-kiri .card-special .rounded-start {
    width: 320px;
    height: 240px;
    border-radius: 20px;
    margin: 20px 35px;
  }

  .daftar .card-kiri .card-special .card-body h5 {
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    font-size: 24px;
    font-style: italic;
    font-weight: 900;
    line-height: normal;
    margin: 20px 35px;
  }
  .daftar .card-kiri .card-special .card-body p {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: justify;
    margin: 10px 20px;
  }

  .carousel-section {
    width: 100%;
  }

  .carousel {
    width: 430px;
    height: 850px;
    display: inline-flex;
    margin: 53px auto;
    justify-content: center;
    align-items: center;
  }

  .carousel h3 {
    color: #212427;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    display: flex;
    width: 402px;
    height: 18px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    margin-bottom: 34px;
  }

  .carousel img {
    width: 100%;
    display: block;
  }

  .carousel .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    color: white;
  }

  .carousel .left-arrow {
    left: 20px;
  }

  .carousel .right-arrow {
    right: 20px;
  }
  .carousel .img-display {
    overflow: hidden;
  }
  .carousel .img-showcase {
    display: flex;
    flex-shrink: 0;
    border-radius: 32px;
    transition: all 0.5s ease;
  }

  .carousel .img-showcase img {
    min-width: 100%;
  }
  .carousel .img-select {
    display: flex;
  }

  .carousel .img-item img {
    width: 100%;
    display: block;
    filter: grayscale(100%);
    transition: filter 0.5s ease;
  }

  .carousel .img-item.active img {
    filter: grayscale(0%);
  }

  .carousel .img-item:nth-child(1),
  .img-item:nth-child(2),
  .img-item:nth-child(3) {
    margin-right: 0;
  }
  .carousel .img-item:hover {
    opacity: 0.8;
  }

  .article-wrapper {
    background-image: url("Assets/bg-2-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 1460px;
  }

  .article {
    margin-top: 20px;
    width: 100%;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
  }

  .article h3 {
    font-size: 24px;
  }

  .article .article-button-top {
    justify-content: center;
    align-items: center;
    width: 333px;
  }

  .article-isi {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }

  .article-isi .card-article {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .article-isi .row {
    display: flex;
    flex-direction: column;
  }

  .article-isi .col {
    width: 100%;
    padding-right: 32px;
    padding-left: 32px;
  }

  .article-isi .card-article {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    display: flex;
  }

  .article-isi .card-article img {
    width: 134px;
    height: 100px;
    border-radius: 20px;
    margin: 10px;
  }

  .article-isi .card-article .card-article-body {
    display: flex;
    width: 376px;
    height: 100px;
    align-items: center;
    flex-direction: column;
  }

  .article-isi .card-article .card-article-body h5 {
    overflow: hidden;
    color: #212427;
    text-overflow: ellipsis;
    width: 100%;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .article-isi .card-article .card-article-body p {
    color: #6c6c6c;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 100%;
  }

  .buttonlihat {
    margin-top: 15px;
  }

  footer {
    display: flex;
    width: 430px;
    height: 600px;
    padding: 50px 32px;
    flex-direction: column;
    background-color: #28a997;
  }

  .footer .footer-isi {
    width: 100%;
    height: auto;
  }

  footer .footer-isi .logo-footer {
    height: 154px;
    width: 353px;
    padding-left: 32px;
    padding-right: 32px;
  }

  footer .footer-isi h1 {
    width: 353px;
    text-align: left;
    font-style: italic;
    font-weight: 900;
    font-size: 55px;
    color: white;
  }

  footer .footer-isi .logo-footer span {
    width: 353px;
  }

  footer .footer-isi span .present {
    text-align: center;
    font-style: italic;
    font-weight: lighter;
    font-size: 10px;
    color: white;
    margin-top: 10px;
    margin-right: 5px;
  }

  footer .footer-isi span .detik {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    color: white;
  }

  footer .footer-isi span .health {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    color: white;
  }

  footer .footer-isi .footer-about {
    display: flex;
    flex-direction: column;
    padding: 10px 5px;
    width: 430px;
  }

  footer .footer-isi .footer-about .about-kanan {
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 140px;
    width: 363px;
  }

  footer .footer-isi .footer-about .about-kiri {
    width: 430px;
    margin: 20px 80px;
  }

  footer .footer-isi hr {
    width: 366px;
    height: 1px;
    background: #fff;
    border: #fff;
    margin-top: 15px;
  }

  footer .footer-isi .footer-bottom {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    align-self: stretch;
    letter-spacing: 0.08px;
    margin-top: 5px;
    width: 366px;
    text-align: center;
  }
}
