/* style.css */

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

header {
  position: relative;
  background-image: url("Assets/bg-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 1440px;
  height: 960px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.logo-container {
  margin-bottom: 57px;
  margin-top: 283px;
}

.logo {
  display: flex;
  width: 686px;
  height: 276px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-left: 123px;
}

.tentang {
  display: inline-flex;
  padding: 15px 25px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background: #ffc73c;
  box-shadow: 0px 18px 40px 12px rgba(255, 211, 103, 0.35);
  border: #ffc73c;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 123px;
  width: 195px;
}

nav .image img {
  width: 200px;
  height: 40px;
  margin-left: 35px;
}

nav {
  position: fixed;
  top: 46px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 1194px;
  padding: 15px 20px;
  box-shadow: 0px 1px 8px 0px rgba(29, 28, 28, 0.2);
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(25px);
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  z-index: 1000;
}

.content ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 51px;
  flex: 1 0 0;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 51px;
}

.content ul li {
  cursor: pointer;
  color: #212427;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 120px;
}

.registrasi .registration {
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background: var(
    --primary-gradient,
    linear-gradient(258deg, #59ffb9 0%, #326cff 100%)
  );
  border: none;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.registrasi .registration:hover {
  background: var(
    --primary-gradient,
    linear-gradient(258deg, #326cff 0%, #59ffb9 100%)
  );
}

.daftar {
  display: flex;
  width: 582px;
  padding: 32px;
  gap: 15px;
  margin-left: 50px;
}

.daftar .card-kanan .card {
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  border-radius: 32px;
  background: linear-gradient(237deg, #59ffb9 -30.09%, #326cff 71.21%);
  width: 550px;
  height: 611px;
}

.daftar .card-kanan h3 {
  color: #fff;
  text-align: left;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 48px;
  font-style: italic;
  font-weight: 900;
  line-height: normal;
}

.daftar .card-kanan .fun-text {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.daftar .card-kiri .card-gratis {
  display: flex;
  flex-direction: column;
  width: 582px;
  padding: 32px;
  align-items: flex-start;
  border-radius: 32px;
  background: linear-gradient(237deg, #59ffb9 -30.09%, #326cff 71.21%);
  margin-bottom: 27px;
}

.daftar .card-kiri h3 {
  color: #fff;
  text-align: left;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 36px;
  font-style: italic;
  font-weight: 900;
  line-height: normal;
}

.daftar .card-kiri .gratis-text {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.daftar .card-kiri .card-special {
  border-radius: 32px;
  background: linear-gradient(237deg, #59ffb9 -30.09%, #326cff 71.21%);
}

.daftar .card-kiri .card-special .special-title {
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 36px;
  font-style: italic;
  font-weight: 900;
  line-height: normal;
}

.daftar .card-kiri .card-special .special-text {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.buttondaftar {
  display: flex;
  padding: 15px 25px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background: #ffc73c;
  box-shadow: 0px 18px 40px 12px rgba(255, 211, 103, 0.35);
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  margin-top: 25px;
}

.didukung {
  display: flex;
  width: 1440px;
  height: full;
  padding: 60px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background: linear-gradient(249deg, #59ffb9 -31.85%, #326cff 101.31%);
  margin-top: 137px;
}

.didukung h3 {
  color: #fff;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.marquee-container {
  overflow: hidden;
  white-space: nowrap;
}

.marquee-wrapper {
  display: flex;
  animation: marqueeAnimation 15s linear infinite;
}

.marquee-1 {
  padding: 15px 25px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #fff;
  margin-right: 10px;
}

.marquee-1 img {
  width: 216px;
  height: 94px;
}

@keyframes marqueeAnimation {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
